@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header style */
.text-gray{
    color: #252432;
}

.text-light-gray{
    color: #8987A1;
}

.text-Primary{
    color: #E95A08;
}

body{
  background-color: #F5F8FF;
}

.logo{
    width: 135px;
    height: 82px;
}

/* shared styles */
.display-flex{
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
   
}

.nav-item{
    list-style: none;
    margin-right: 48px;
}

.nav-link{
    display: flex; 
    align-items: center; 
    text-decoration: none;
    font-weight: 500;
}

.nav-item.no-margin{
    margin-right: 0;
}

.nav-link img{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.navbar, .banner, .our-plants, .Plants-Lover, .latest-deals, footer{
    max-width: 1140px;
    margin: 0 auto;
}

/* style for banner */
.banner .banner-title{
    font-size: 4.0625rem; 
    font-weight: bold;
}

.banner{

    width: 1140px;
    height: 461px;
    align-items: flex-end;
    margin-top: 114.5px;
}

.banner-description{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    margin-bottom: 0;
} 


/* Style for main section */
main{
    margin-top: 120px;
} 

.our-plants-text{
    text-align: center;
    margin-bottom: 49px;
}

.our-plants-text h3{
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}

.our-plants-text p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: 400;
    margin: 16px 126px 0px 126px;
}

.flower-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;      
    column-gap: 20px;   
}

.flower{
    padding: 0;
    text-align: center;       
    
}

.flower p{
    font-weight: 500;
    font-size: 1.375rem;
}

.flower h3{
    font-size: 1.375rem;
    font-weight: bold;
}

.flower img{
    width: 100%;

}

.flower button {
  width: 100%;              
  padding: 10px 0;
  margin-top: 8px;
  background-color: #E95A08; 
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* Style for  Plants lover section */
.Plants-Lover{
  margin-top: 210.12px;
}

.plants-lover-title{
  font-weight: bold;
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.plants-lover-description ul li{
  font-weight: 400;
  font-size: 1.33rem;
  margin-bottom: 20px;
}

.Plants-Lover-image{
  padding-right: 60px;
  width: 540px;
  height: 597px;
}

#trusted-badge{
  width: 286px;
  height: 286px;
  margin-top: -2072px;
  margin-right: 93px;
  margin-bottom: 460px;
  margin-left: 347px;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.50));
}

#trusted-badge:hover{
  transform: rotate(180deg);
}

/* Style for deals section */
.deals-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.deals-description h1{
  font-weight: bold;
  font-size: 3.125rem;
  text-align: center;
  margin-top: 133.87px;
  margin-bottom: 0;
}

.deals-description p{
  font-weight: 400;
  font-size: 1.375rem;
  text-align: center;
  margin-top: 16px;
  width: 888px;
  height: 54px;
  align-items: center;
}

.deal-card{
   display: flex;

}

#bloom{
  margin-bottom: 22px;
  width: 367px;
  height: 201px;
}

#bloom,#ana{
  margin-right: 22px;
  border-radius: 20px;
  filter: brightness(50%);
}

#ana{
  width: 367px;
  height: 197px;
}

#zabo{
  height:423.13px;
  width: 753px;
  border-radius: 20px;
  filter: brightness(50%);
}


.flower-1 {
    position: relative;
    text-align: center; 
}

#deal-text-1, #deal-text-2 {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1.25rem;
    color: white; 
    font-weight: bold;
}

#shop-btn-1, #shop-btn-2 {
    position: absolute;
    top: 45%;  
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 19px;
}
#deal-text-3{
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%); 
    color: white; 
    font-weight: bold;
    font-size: 2.2rem;
}
#shop-btn-3{
    font-size: 1.75rem;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}


#deal-text-1, #deal-text-2,#shop-btn-1, #shop-btn-2{
  width: 270px;
  height: 77px;
}

/* Style for join section */
.join {
    position: relative;
    width: 100%;
    height: 533px;  
    margin-top: 120px;
}

.join div img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    z-index: -1; 
}

.join-inner {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
    color: white;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
}

.join-inner h1 {
    font-size: 3.125rem; 
    font-weight: bold;
    margin-bottom: 23px;
}

.join-inner .inputs-container {
    display: flex; 
    gap: 0px; 
    justify-content: center; 
}

.join-inner input[type="email"] {
    padding: 12px;
    width: 300px;
    font-size: 1rem;
    border: none;
    margin-right: 0;
    width: 644px;
    height: 26px;
}

.join-inner input[type="submit"] {
    padding: 12px 20px;
    background-color: #E95A08;  
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 0; 
    width: 186px;
    height: 50px;
}

/* style for footer section */
.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 1140px;
    padding: 0 ;
    gap: 30px; 
    margin-top: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 359px;
    margin-bottom: 35px;
}

.footer-left img{
  width: 135px;
  height: 82px;
  margin-bottom: 16px;
}

.footer-left p{
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    margin-left: 30px;
}

.footer-right .footer-links-1 {
    margin-right: 110px; 
    width: 85px;
}

.footer-right .footer-links-2 {
    width: 135px;
    padding: 0;
}

.footer-links-1, .footer-links-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0;
    height: 248px;
}

.footer-right ul{
  list-style: none;
}

.footer-links-1 li a{
  text-decoration: none;
  list-style: none;
}

.footer-links-2 li a{
  text-decoration: none;
  list-style: none;
}

.footer-socials{
  display: flex; 
  justify-content: flex-start; 
  width: 216px;
  height: 36px;
  margin-left: 100px;
  gap: 24px;  
  margin-top: 10px;
}

.footer-socials a img{
  width: 36px;
  height: 36px;
  gap: 24px;
  
}





/* responsive media for mobile */
@media screen and (max-width: 576px) {
  .navbar {
    width: 361px;
    height: 38px;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 63px;
    height: 38px;
  }

  .nav-links {
    display: flex;
  }

  .nav-item {
    display: none;
  }

  .nav-item.no-margin {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 28px 0px 0px 0px; 
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .banner .banner-text .banner-title {
    font-size: 1.5rem; 
    margin: 0;
  }

  .banner-description {
    font-size: 0.875rem;
    margin-top: 13px;          
  }

  .banner-text {
    width: 100%;  
    height: auto; 
    margin: 1rem 0; 
  }

  /* plants section layout */
  .our-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flower-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 28px;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .flower p,h3,button{
    font-size: 1rem;
  }

  .flower p{
    margin-bottom: 0;
  }

  .flower h3{
    margin-top: 0;
  }

  .our-plants-text h3 {
  font-size: 1.5rem; 
  text-align: center;
  }

  .our-plants-text p {
    font-size: 0.875rem; 
    width: 336px;
    height: 68px;
    margin: 16px 28.5px 0px 28.5px;
    text-align: center;
    
  }

  .hide {
    display: none;
  }

  /* plants lover section layout */
    .Plants-Lover {
    flex-direction: column; 
    align-items: center;
    margin-top: 41.5px;
    margin-right: 12px;
    margin-left: 12px;
  }

  .Plants-Lover h3{
    font-size: 1.5rem;
  }

  .Plants-Lover-image{
    padding: 0;
    width: 365px;
    height: 396px;
    margin-top: 0;
  }

  #plants-image {
    padding: 0; 
    width: 365px;
    height: 396px;
  }

  #trusted-badge {
    display: none; 
  }

  .plants-lover-description{
    margin-top: 18px;
    width: 365px;
    height: 396px;
  }
  .plants-lover-description ul {
    padding-left: 30px;
    
  }

  .plants-lover-description ul li{
    font-size: 0.875rem;
  }

  /* deals section layout */
  .deals-picture{
    flex-direction: column; 
    align-items: center;     
  }

#bloom, #ana, #zabo{
  width: 361px;
  height: 184.5px;
}

#bloom, #ana{
  margin-left: 20px;
}

#ana{
  margin-bottom: 15.5px;
  border-radius: 0;
}

.deals-description h1{
  width: 393px;
  height: 33px;
  margin-top: 50px;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.deals-description p{
  width: 336px;
  height: 68px;
  font-size: 0.875rem;
}

.deals-description{
    margin-bottom: 46.94px;
}

#deal-text-1,#deal-text-2,#deal-text-3{
  font-size: 1.25rem;
}

#deal-text-3,#shop-btn-3{
  width: 270px;
  height: 77px;
}

#shop-btn-1,#shop-btn-2,#shop-btn-3{
  font-size: 1rem;
}

/* Join section layout */
 .join {
        height: 276px; 
        margin-top: 44px;
    }
.join div img{
        object-fit: cover; 
        height: 100%; 
}
    .join-inner h1 {
        font-size: 1.25rem;
    }

    .join-inner input[type="email"]{
        width: 218px; 
        height: 21px; 
    }
     .join-inner input[type="submit"] {
        width: 103px; 
        height: 45px;
    }

/* Footer Content Layout */
  .footer-content {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 0;
    text-align:start; 
    justify-items: start;
    align-items: start;
    margin-bottom: 0;
    margin-left: 20px;
    width: 359px;
    height: 765px

  }

  .footer-left {
    width: 100%;
    margin-bottom: 0; 
    text-align:start; 
    align-items: start;
  }

  .footer-left p {
    font-size: 1rem; 
    color: rgba(0, 0, 0, 0.7); 
    text-align:start; 
    align-items: start;
    margin-bottom: 0;
  }

  .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align:start; 
    align-items: start;
    margin: 0;
    margin-top: -15px;
  }

  .footer-links-1, .footer-links-2 {
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 32px; 
    padding: 0;
    margin-top: 0;
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: -20px; 
    margin-left: 0;

  }

  .footer-socials a img {
    width: 30px; 
    height: 30px;
  }

}
