@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header style */
.text-gray{
    color: #252432;
}

.text-light-gray{
    color: #8987A1;
}

.text-Primary{
    color: #E95A08;
}

.logo{
    width: 135px;
    height: 82px;
}

/* shared styles */
.display-flex{
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
   
}

.nav-item{
    list-style: none;
    margin-right: 48px;
}

.nav-link{
    display: flex; 
    align-items: center; 
    text-decoration: none;
    font-weight: 500;
}

.nav-item.no-margin{
    margin-right: 0;
}

.nav-link img{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.navbar, .banner, main{
    max-width: 1140px;
    margin: 0 auto;
}

/* style for banner */
.banner .banner-title{
    font-size: 4.0625rem; 
    font-weight: bold;
}

.banner{

    width: 1140px;
    height: 461px;
    align-items: flex-end;
    margin-top: 114.5px;
}

.banner-description{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    margin-bottom: 0;
} 


/* Style for main section */
main{
    margin-top: 120px;
} 

.our-plants-text{
    text-align: center;
    margin-bottom: 49px;
}

.our-plants-text h3{
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}

.our-plants-text p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: 400;
    margin: 16px 126px 0px 126px;
}

.flower-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;      
    column-gap: 20px;   
}

.flower{
    padding: 0;
    text-align: center;       
    
}

.flower p{
    font-weight: 500;
    font-size: 1.375rem;
}

.flower h3{
    font-size: 1.375rem;
    font-weight: bold;
}

.flower img{
    width: 100%;

}

.flower button {
  width: 100%;              
  padding: 10px 0;
  margin-top: 8px;
  background-color: #E95A08; 
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* Style for  Plants lover section */
.Plants-Lover{
  margin-top: 210.12px;
}

.plants-lover-title{
  font-weight: bold;
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.plants-lover-description ul li{
  font-weight: 400;
  font-size: 1.33rem;
  margin-bottom: 20px;
}

.Plants-Lover-image{
  padding-right: 60px;
  width: 540px;
  height: 597px;
}

#trusted-badge{
  width: 286px;
  height: 286px;
  margin-top: -2072px;
  margin-right: 93px;
  margin-bottom: 460px;
  margin-left: 347px;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.50));
}

/* responsive media for mobile */
@media screen and (max-width: 576px) {
  .navbar {
    width: 361px;
    height: 38px;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 63px;
    height: 38px;
  }

  .nav-links {
    display: flex;
  }

  .nav-item {
    display: none;
  }

  .nav-item.no-margin {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 28px 0px 0px 0px; 
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .banner .banner-text .banner-title {
    font-size: 1.5rem; 
    margin: 0;
  }

  .banner-description {
    font-size: 0.875rem;
    margin-top: 13px;          
  }

  .banner-text {
    width: 100%;  /* fix width বাদ */
    height: auto; /* height auto */
    margin: 1rem 0; /* side margin দরকার নেই */
  }

  .our-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flower-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 28px;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .flower p,h3,button{
    font-size: 1rem;
  }

  .flower p{
    margin-bottom: 0;
  }

  .flower h3{
    margin-top: 0;
  }

  .our-plants-text h3 {
  font-size: 1.5rem; 
  text-align: center;
  }

  .our-plants-text p {
    font-size: 0.875rem; 
    width: 336px;
    height: 68px;
    margin: 16px 28.5px 0px 28.5px;
    text-align: center;
    
  }

  .hide {
    display: none;
  }

    .Plants-Lover {
    flex-direction: column; 
    align-items: center;
    margin-top: 41.5px;
    margin-right: 12px;
    margin-left: 12px;

    /* text-align: center; */
  }

  .Plants-Lover h3{
    font-size: 1.5rem;
  }

  .Plants-Lover-image{
    padding: 0;
    width: 365px;
    height: 396px;
    margin-top: 0;
  }

  #plants-image {
    padding: 0; 
    width: 365px;
    height: 396px;
  }

  #trusted-badge {
    display: none; 
  }

  .plants-lover-description{
    margin-top: 18px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .plants-lover-description ul {
    padding-left: 30px;
    
  }

  .plants-lover-description ul li{
    font-size: 0.875rem;
  }

}
